.type {
    background: rgba(246, 245, 120, .25);
    min-height: 91.8vh;
}

.type .type-container {
    padding: 2rem;
    margin: 0 auto;
    color: var(--secondary-color);
    max-width: 1100px;
}

.type .type-container h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.type .type-container p {
    font-size: 1.2rem;
    padding-bottom: .5rem;
    text-align: justify;
}

.type .type-container img {
    width: 100%;
    border-radius: 5%;
    padding: 1rem 0;
}