:root {
    --primary-color: coral;
    --secondary-color: chocolate;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar ul {
    list-style: none;
}

#navbar ul li {
    color: #333333;
    display: inline-block;
    padding: 1rem;
    position: relative;
}

#navbar ul li a {
    color: #333333;
    text-decoration: none;
}

/* Hide nested ul by default */
#navbar ul li ul {
    display: none;
}

#navbar ul li:hover {
    cursor: pointer;
    background: var(--primary-color);
    color: #f4f4f4;
}

#navbar ul li:hover a {
    color: #f4f4f4;
}

/* Nested dropdown show */
#navbar ul li:hover ul {
    display: block;
    position: absolute;
    left: 0;
    width: 200px;
    margin-top: 1rem;
    z-index: 2;
}

#navbar ul li.types-list:hover ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

#navbar ul li.types-list:hover ul li {
    flex: 1 1 0px;
    width: 98px;
}

#navbar ul li:hover ul li {
    display: block;
    background: #e7e7e7;
}

#navbar ul li:hover ul li a {
    color: #333333;
}

#navbar ul li:hover ul li:hover {
    background: #e0e0e0;
    color: inherit;
}

#navbar ul li:hover ul li span {
    float: right;
    color: #ffffff;
    background: var(--primary-color);
    padding: 0.2rem 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 5px;
}

#navbar ul li:hover ul li:hover span {
    background: var(--secondary-color);
}

#showcase {
    background: rgba(246, 245, 120, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100vh;
}

#showcase:before {
    content: '';
    background: url("./img/kumpol-ng-saging.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: .4;

}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3.1rem 2rem 0 2rem;
    color: #06623b;
}

.container h1 {
    font-size: 4rem;
}

.container p {
    font-size: 1.5rem;
}

@media(max-width: 600px) {
    #navbar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}